:root{
    --color:#1ebeb6;
    --primar-color: #efbb20;
    --navbar-color: #2c352d;
    --button-color: linear-gradient(90deg, rgba(30, 190, 182, 1) 0%, rgba(0, 130, 124, 1));
    --box-shadow: 0 0 10px #e7e7e7;
    --background: #f7f7f7;
}
